{% extends "blog/base.html" %}
{% block content %}
	<a class="btn btn-primary float-right" href="{% url 'product-add' %}" style="color:#FFFFFF">Add Product</a>
	<div class="clearfix mb-2"></div>	
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Actions</th>
				<th scope="col">Name</th>
				<th scope="col">Category</th>
				<th scope="col">Price</th>
				<th scope="col">Status</th>
			</tr>
		</thead>
		<tbody>
			{% for product in products%}
			<tr>
				<td>
					<span class="mr-4 float-right">
						<a class="ml-2" href="{% url 'product-update' product.id %}">Edit</a>
						<a class="ml-2" href="{% url 'product-delete' product.id %}">Delete</a>
					</span>
				</td>
				<td>{{ product.product_name }}</td>
				<td>{{ product.category.name }}</td>
				<td>{{ product.price }}</td>
				<td>{{ product.status }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock content %}
